.cardSpace{
  margin-bottom: 300px;
  margin: 0px !important;
  border: 3px rgb(8, 214, 241) solid !important;
}
.title {
  text-align: center;
  color: rgb(243, 16, 232);
}
.gridWidth{
  width: 100% !important;
  justify-content: center;
  margin-bottom: 300px;
}